<html>
    <body>
        <div>합은 <%=@sum %>  </div>
        
        <div>곱은 <%=@mul %>  </div>
        
        <div>차는 <%=@minus %>  </div>
        
        <div>나눗셈 <%=@div %>  </div>
    </body>
</html>